{
  "presets": ["@babel/env", "@babel/preset-react", "@babel/typescript"],
  "plugins": [
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
      }
    ],

    "@babel/proposal-object-rest-spread",
    "@babel/proposal-class-properties",
    "@babel/proposal-optional-chaining",
    "@babel/syntax-dynamic-import"
  ]
}
